* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 5rem;
  margin: 0 5rem 0 2rem;
}

h1 {
  color: red;
}

.nav-link:hover {
  color: red;
}

main {
  padding: 0 5rem;
}

.section-title {
  margin: 1.5rem 0;
}

.main-image {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cards-row {
  margin-top: 2rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-primary {
  background-color: red;
  border-width: 0;
}

.btn-primary:hover {
  background-color: rgb(189, 0, 0);
  border-width: 0;
}